.infoBoard {
  border: 1px solid #fff;
  border-radius: 5px;
  filter: drop-shadow(0 0 0.75rem #808080);
  background-color: #a9a9a9;
  position: relative;
}

h3 {
  text-align: center;
  margin: 0.3rem 0.3rem 0 0.3rem;
}

div {
  display: flex;
  justify-content: center;

  padding: 0.5rem;

  span {
    color: #008000;
  }
}
